## 1. Creating Hashed Passwords for Authentication:

* Everytime when a new user is added to the app, we need to get the user_id (usually email) and their password from them.
* Then we need to create a `Hash` of the password and add it to the `authenticator.yml` file in order for the user to be able to log-in to the app.

In [4]:
from streamlit_authenticator.utilities.hasher import Hasher

hashed_passwords = Hasher(['abc123']).generate()
print(hashed_passwords)

['$2b$12$tdKt5p7nfhQgcDG30FldqeTZLUio5P.vAqKXSqiUHxURaei7Npkq2']

In [5]:
hashed_passwords = Hasher(['blackpearl']).generate()
print(hashed_passwords)

['$2b$12$N9w9IGLBfLv1tne8lzalUOm2hH4ytnvbTgQ.vs0jV6EbKt9x2QPr6']

## 2. Testing the connection with Snowflake Data warehouse:

In [32]:
import snowflake.connector
from dotenv import load_dotenv
import os 

load_dotenv()

True

In [34]:
con = snowflake.connector.connect(
    user='hariharan',
    password= os.getenv('SNOWSQL_PWD'),
    account=os.getenv('SNOWSQL_ACCOUNT'),
    warehouse = os.getenv('SNOWSQL_WAREHOUSE'),
)

In [35]:
# Show all the databses present in the database
cur = con.cursor()
cur.execute("SHOW DATABASES")
result = cur.fetchall()
for row in result:
    schema_name = row[1]
    print(schema_name)

FOOD_DELIVERY
SNOWFLAKE
SNOWFLAKE_SAMPLE_DATA

In [36]:
# Show all the schemas present in the database
cur = con.cursor()
cur.execute("SHOW SCHEMAS IN FOOD_DELIVERY")
result = cur.fetchall()
for row in result:
    schema_name = row[1]
    print(schema_name)

CORE
INFORMATION_SCHEMA
PUBLIC

In [37]:
# Show all the tables present in the schema CORE
cur.execute("SHOW TABLES IN SCHEMA FOOD_DELIVERY.CORE")
result = cur.fetchall()
for row in result:
    table_name = row[1]
    print(table_name)

MENU_ITEMS
ORDERS
ORDER_DETAILS
PAYMENTS
RESTAURANTS
REVIEWS
USERS

In [38]:
# creating cursor object
cur = con.cursor()

# Execute a statement that will generate a result set.
sql = "SELECT * FROM FOOD_DELIVERY.CORE.ORDERS"
cur.execute(sql)

# Fetch the result set from the cursor and deliver it as the pandas DataFrame.
df = cur.fetch_pandas_all()

print(df.shape)
df.head()

(73748, 7)

,ORDER_ID,USER_ID,ORDER_TIME,DELIVERY_ADDRESS,ORDER_STATUS,RESTAURANT_ID,TOTAL_AMOUNT
0,716d868b-2b5a-4bee-bc2c-ee262c81588f,d36e1a86-6e33-434a-b9c7-3f5c30753402,2024-06-01 11:53:19,"9198 Gabriela Green\nEast Marcton, DC 16873",Delivered,R18329211,152.85
1,0f41a3a7-954a-4e24-ad84-dba22e8dd154,1ae81af6-6b78-4695-8996-442e9e40ad3c,2024-06-01 08:11:05,"366 Byrd Hills\nNew Robert, WI 24455",Delivered,R22670500,191.50
2,fde175ad-d2ea-4901-a5fd-5c28f44e7382,2c1492fd-c993-4d00-9086-dc105c821bae,2024-06-01 21:46:46,"71211 Gregory Track\nGreenestad, OH 72514",Delivered,R66375744,35.88
3,99e370cd-f55e-4793-b0e6-0c41d8fd9287,523d1f1a-9edd-4811-9472-f65a52d51f15,2024-06-01 09:04:39,"070 Steven Heights\nRoachville, PW 12962",Delivered,R42644875,149.57
4,a88b8bf1-9fdf-4c8e-87ab-ac3a390d05e0,a6c31749-eb2a-40f3-aa65-49ead5cfdc3a,2024-06-01 21:05:23,"9382 Alyssa Branch\nShellyfurt, VI 11466",Delivered,R23024716,129.32

## 3. Testing the connection with Databricks Data warehouse:

In [53]:
from dotenv import load_dotenv
import os 
import pandas as pd 
from databricks import sql 

load_dotenv()

True

In [54]:
# Creating a connection to databricks
connection = sql.connect(server_hostname=os.getenv("DATABRICKS_SERVER_HOST_NAME"),
                         http_path=os.getenv("DATABRICKS_HTTP_PATH"),
                         access_token=os.getenv("DATABRICKS_ACCESS_TOKEN")
                         )

In [56]:
df = pd.read_sql("SELECT * FROM hive_metastore.online_food_business.menu_items", connection)
print(df.shape)
df.head()

/var/folders/3g/7x619qt169344pmm32qd8wgc0000gq/T/ipykernel_8801/705794241.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("SELECT * FROM hive_metastore.online_food_business.menu_items", connection)

(3000, 4)

  menu_item_id restaurant_id    item_name  price
0  R32379007_1     R32379007        Tacos  10.20
1  R32379007_2     R32379007     Burritos  13.93
2  R32379007_3     R32379007   Enchiladas  14.15
3  R32379007_4     R32379007  Quesadillas  10.47
4  R32379007_5     R32379007       Nachos  10.80

## 4. Retrieving the Table Schema, Categorical Column details and Sample rows for Prompt Context:

In [64]:
from dotenv import load_dotenv
import os 
import pandas as pd 
from databricks import sql 

load_dotenv()

True

In [65]:
# Selected tables list 
catalog = "hive_metastore"
schema = "online_food_business"
tables_list = ["menu_items","orders","users"]

In [66]:
# table_schema = ""

# # Iterating through each selected tables and get the list of columns for each table.
# for table in tables_list:

#     conn = sql.connect(server_hostname = os.getenv("DATABRICKS_SERVER_HOSTNAME"),
#                     http_path       = os.getenv("DATABRICKS_HTTP_PATH"),
#                     access_token    = os.getenv("DATABRICKS_ACCESS_TOKEN"))        

#     # Getting the Schema for the table
#     query = f"SHOW CREATE TABLE `{catalog}`.{schema}.{table}"
#     df = pd.read_sql(sql=query,con=conn)
#     stmt = df['createtab_stmt'][0]
#     stmt = stmt.split("USING")[0]

#     # Filtering the String columns from the table to identify Categorical columns
#     query = f"DESCRIBE TABLE `{catalog}`.{schema}.{table}"
#     df = pd.read_sql(sql=query,con=conn)
#     string_cols = df[df['data_type']=='string']['col_name'].values.tolist()

#     sql_distinct = ""
#     for col in string_cols:
#         # Getting the distinct values for each column as rows
#         if col == string_cols[-1]:
#             sql_distinct += f"SELECT '{col}' AS column_name, COUNT(DISTINCT {col}) AS cnt, ARRAY_AGG(DISTINCT {col}) AS values FROM `{catalog}`.{schema}.{table}"
#         else:
#             sql_distinct += f"SELECT '{col}' AS column_name, COUNT(DISTINCT {col}) AS cnt, ARRAY_AGG(DISTINCT {col}) AS values FROM `{catalog}`.{schema}.{table} UNION ALL "

#     # print(sql_distinct)
#     df_categories = pd.read_sql(sql=sql_distinct,con=conn)
#     df_categories = df_categories[df_categories['cnt'] <= 20]
#     df_categories = df_categories.drop(columns='cnt')

#     if df_categories.empty:
#         df_categories_string = "No Categorical Fields"
#     else:
#         df_categories_string = df_categories.to_string(index=False)


#     # Getting the sample rows from the table
#     query = f"SELECT * FROM `{catalog}`.{schema}.{table} LIMIT 3"
#     df = pd.read_sql(sql=query,con=conn)
#     sample_rows = df.to_string(index=False)

    
#     # df_categories = df_string.groupby('col_name').filter(lambda x: x['col_name'].count() <= 20)
#     # print(df_string)
#     # print(df_categories)
#     if table_schema == "":
#         table_schema = stmt + "\n" + sample_rows + "\n\nCategorical Fields:\n" + df_categories_string + "\n"
#     else:
#         table_schema = table_schema + "\n" + stmt + "\n" + sample_rows + "\n\nCategorical Fields:\n" + df_categories_string + "\n"

In [67]:
# Function to create enriched database schema details for the Prompt
def get_enriched_database_schema(catalog,schema,tables_list):
    table_schema = ""

    # Iterating through each selected tables and get the list of columns for each table.
    for table in tables_list:

        conn = sql.connect(server_hostname = os.getenv("DATABRICKS_SERVER_HOSTNAME"),
                        http_path       = os.getenv("DATABRICKS_HTTP_PATH"),
                        access_token    = os.getenv("DATABRICKS_ACCESS_TOKEN"))        

        # Getting the Schema for the table
        query = f"SHOW CREATE TABLE `{catalog}`.{schema}.{table}"
        df = pd.read_sql(sql=query,con=conn)
        stmt = df['createtab_stmt'][0]
        stmt = stmt.split("USING")[0]

        # Filtering the String columns from the table to identify Categorical columns
        query = f"DESCRIBE TABLE `{catalog}`.{schema}.{table}"
        df = pd.read_sql(sql=query,con=conn)
        string_cols = df[df['data_type']=='string']['col_name'].values.tolist()

        sql_distinct = ""
        for col in string_cols:
            # Getting the distinct values for each column as rows
            if col == string_cols[-1]:
                sql_distinct += f"SELECT '{col}' AS column_name, COUNT(DISTINCT {col}) AS cnt, ARRAY_AGG(DISTINCT {col}) AS values FROM `{catalog}`.{schema}.{table}"
            else:
                sql_distinct += f"SELECT '{col}' AS column_name, COUNT(DISTINCT {col}) AS cnt, ARRAY_AGG(DISTINCT {col}) AS values FROM `{catalog}`.{schema}.{table} UNION ALL "

        # print(sql_distinct)
        df_categories = pd.read_sql(sql=sql_distinct,con=conn)
        df_categories = df_categories[df_categories['cnt'] <= 20]
        df_categories = df_categories.drop(columns='cnt')

        if df_categories.empty:
            df_categories_string = "No Categorical Fields"
        else:
            df_categories_string = df_categories.to_string(index=False)


        # Getting the sample rows from the table
        query = f"SELECT * FROM `{catalog}`.{schema}.{table} LIMIT 3"
        df = pd.read_sql(sql=query,con=conn)
        sample_rows = df.to_string(index=False)

        if table_schema == "":
            table_schema = stmt + "\n" + sample_rows + "\n\nCategorical Fields:\n" + df_categories_string + "\n"
        else:
            table_schema = table_schema + "\n" + stmt + "\n" + sample_rows + "\n\nCategorical Fields:\n" + df_categories_string + "\n"
    
    return table_schema

In [68]:
table_schema = get_enriched_database_schema(catalog,schema,tables_list)

/var/folders/3g/7x619qt169344pmm32qd8wgc0000gq/T/ipykernel_19961/3861049042.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql=query,con=conn)
/var/folders/3g/7x619qt169344pmm32qd8wgc0000gq/T/ipykernel_19961/3861049042.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql=query,con=conn)
/var/folders/3g/7x619qt169344pmm32qd8wgc0000gq/T/ipykernel_19961/3861049042.py:32: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_categories = pd.read_sql(sql=sql_distinct,con=conn)
/var/folders/3g/7x619qt169344pmm32qd8wgc0000gq/T/ipykernel_19961/3861049042.py:44: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql=query,con=conn)
/var/folders/3g/7x619qt169344pmm32qd8wgc0000gq/T/ipykernel_19961/3861049042.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql=query,con=conn)
/var/folders/3g/7x619qt169344pmm32qd8wgc0000gq/T/ipykernel_19961/3861049042.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql=query,con=conn)
/var/folders/3g/7x619qt169344pmm32qd8wgc0000gq/T/ipykernel_19961/3861049042.py:32: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_categories = pd.read_sql(sql=sql_distinct,con=conn)
/var/folders/3g/7x619qt169344pmm32qd8wgc0000gq/T/ipykernel_19961/3861049042.py:44: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql=query,con=conn)
/var/folders/3g/7x619qt169344pmm32qd8wgc0000gq/T/ipykernel_19961/3861049042.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql=query,con=conn)
/var/folders/3g/7x619qt169344pmm32qd8wgc0000gq/T/ipykernel_19961/3861049042.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql=query,con=conn)
/var/folders/3g/7x619qt169344pmm32qd8wgc0000gq/T/ipykernel_19961/3861049042.py:32: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_categories = pd.read_sql(sql=sql_distinct,con=conn)
/var/folders/3g/7x619qt169344pmm32qd8wgc0000gq/T/ipykernel_19961/3861049042.py:44: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql=query,con=conn)

In [69]:
print(table_schema)

CREATE TABLE hive_metastore.online_food_business.menu_items (
  menu_item_id STRING,
  restaurant_id STRING,
  item_name STRING,
  price DOUBLE)

menu_item_id restaurant_id  item_name  price
 R32379007_1     R32379007      Tacos  10.20
 R32379007_2     R32379007   Burritos  13.93
 R32379007_3     R32379007 Enchiladas  14.15

Categorical Fields:
No Categorical Fields

CREATE TABLE hive_metastore.online_food_business.orders (
  order_id STRING,
  user_id STRING,
  order_time TIMESTAMP,
  delivery_address STRING,
  order_status STRING,
  restaurant_id STRING,
  total_amount DOUBLE)

                            order_id                              user_id                order_time                            delivery_address order_status restaurant_id  total_amount
716d868b-2b5a-4bee-bc2c-ee262c81588f d36e1a86-6e33-434a-b9c7-3f5c30753402 2024-06-01 11:53:19+00:00 9198 Gabriela Green\nEast Marcton, DC 16873    Delivered     R18329211        152.85
0f41a3a7-954a-4e24-ad84-dba22e8dd154 1ae81af6-6b78-4695-8996-442e9e40ad3c 2024-06-01 08:11:05+00:00        366 Byrd Hills\nNew Robert, WI 24455    Delivered     R22670500        191.50
fde175ad-d2ea-4901-a5fd-5c28f44e7382 2c1492fd-c993-4d00-9086-dc105c821bae 2024-06-01 21:46:46+00:00   71211 Gregory Track\nGreenestad, OH 72514    Delivered     R66375744         35.88

Categorical Fields:
 column_name                                       values
order_status [Cancelled, Pending, Undelivered, Delivered]

CREATE TABLE hive_metastore.online_food_business.users (
  user_id STRING,
  name STRING,
  gender STRING,
  email STRING,
  phone_number STRING,
  delivery_address STRING)

                             user_id              name gender                         email        phone_number                                       delivery_address
2c9e3b84-16d3-4f4c-858e-82dffa36f991     Daniel Molina   Male       daniel.molina@gmail.com  752.300.5266x02508 738 Carly Island Apt. 434\nSouth Melissaberg, GU 31880
752cffa9-d31c-45e1-b0ab-3e35567b90f4 Michael Rodriguez   Male michael.rodriguez@hotmail.com +1-776-822-7329x203      6504 Rachel Burg Apt. 042\nCynthiaburgh, PA 66026
bc304a8c-ad89-4757-b8c2-481c38435419     Charles Patel   Male     charles.patel@hotmail.com  774-219-6812x63426             366 Ryan Field\nNorth Danielside, OK 02127

Categorical Fields:
column_name         values
     gender [Female, Male]

In [70]:
from langchain_core.prompts import PromptTemplate
from langchain.output_parsers import ResponseSchema, StructuredOutputParser
from langchain.chains.llm import LLMChain
from langchain_openai import ChatOpenAI

def create_sql(question,table_schema):

    ### Defining the prompt template
    template_string = """ 
    You are a expert data engineer working with a Databricks environment.\
    Your task is to generate a working SQL query in Databricks SQL dialect. \
    During join if column name are same please use alias ex llm.customer_id \
    in select statement. It is also important to respect the type of columns: \
    if a column is string, the value should be enclosed in quotes. \
    If you are writing CTEs then include all the required columns. \
    While concatenating a non string column, make sure cast the column to string. \
    For date columns comparing to string , please cast the string input.\
    For string columns, check if it is a categorical column and only use the appropriate values provided in the schema.\

    SCHEMA:
    ## {table_schema} ##

    QUESTION:
    ##
    {question}
    ##


    IMPORTANT: MAKE SURE THE OUTPUT IS JUST THE SQL CODE AND NOTHING ELSE. Ensure the appropriate CATALOG is used in the query and SCHEMA is specified when reading the tables.
    ##

    OUTPUT:
    """
    prompt_template = PromptTemplate.from_template(template_string)

    ### Defining the LLM chain
    llm_chain = LLMChain(
        llm=ChatOpenAI(model="gpt-4o-mini",temperature=0),
        prompt=prompt_template
    )

    response =  llm_chain.invoke({"question":question,"table_schema":table_schema})
    output = response['text']

    return output

In [98]:
result = create_sql("What is the total orders by different restaurants by every day (in separate columns)",table_schema)

In [99]:
print(result)

```sql
WITH daily_orders AS (
    SELECT
        DATE(order_time) AS order_date,
        restaurant_id,
        COUNT(order_id) AS total_orders
    FROM
        hive_metastore.online_food_business.orders
    GROUP BY
        DATE(order_time), restaurant_id
)

SELECT
    do.order_date,
    do.restaurant_id,
    do.total_orders
FROM
    daily_orders AS do
ORDER BY
    do.order_date, do.restaurant_id;
```

In [100]:
# Function to render the sql code
def process_llm_response_for_sql(response: str) -> str:
    # Extract the Mermaid code block from the response
    start_idx = response.find("```sql") + len("```sql")
    end_idx = response.find("```", start_idx)
    sql_code = response[start_idx:end_idx].strip()

    return sql_code

In [101]:
final_query_1 = process_llm_response_for_sql(result)
print(final_query_1)

WITH daily_orders AS (
    SELECT
        DATE(order_time) AS order_date,
        restaurant_id,
        COUNT(order_id) AS total_orders
    FROM
        hive_metastore.online_food_business.orders
    GROUP BY
        DATE(order_time), restaurant_id
)

SELECT
    do.order_date,
    do.restaurant_id,
    do.total_orders
FROM
    daily_orders AS do
ORDER BY
    do.order_date, do.restaurant_id;

In [108]:
def create_advanced_sql(question,sql_code,table_schema):

    ### Defining the prompt template
    template_string = """ 
    You are a expert data engineer working with a Databricks environment.\
    Your task is to generate a working SQL query in Databricks SQL dialect. \
    Enclose the complete SQL_CODE in a WITH clause and name it as MASTER. DON'T ALTER THE given SQL_CODE. \
    Then based on the QUESTION and the master WITH clause, generate the final SQL query based on the WITH clause.\
    ONLY IF additional information is needed to answer the QUESTION, then use the SCHEMA to join the details to get the final answer. \


    INPUT:
    SQL_CODE:
    ##
    {sql_code}
    ##

    SCHEMA:
    ## {table_schema} ##

    QUESTION:
    ##
    {question}
    ##

    IMPORTANT: MAKE SURE THE OUTPUT IS JUST THE SQL CODE AND NOTHING ELSE.
    ##


    OUTPUT:
    """
    prompt_template = PromptTemplate.from_template(template_string)

    ### Defining the LLM chain
    llm_chain = LLMChain(
        llm=ChatOpenAI(model="gpt-4o-mini",temperature=0),
        prompt=prompt_template
    )

    response =  llm_chain.invoke({"sql_code":sql_code,"question":question,"table_schema":table_schema})
    output = response['text']

    return output

In [106]:
final_query_2 = create_advanced_sql(question="Can you give me the average total orders overall and also average item quantity?",sql_code=final_query_1,table_schema=table_schema)

In [109]:
final_query_2 = process_llm_response_for_sql(final_query_2)
print(final_query_2)

WITH MASTER AS (
    WITH daily_orders AS (
    SELECT
        DATE(order_time) AS order_date,
        restaurant_id,
        COUNT(order_id) AS total_orders
    FROM
        hive_metastore.online_food_business.orders
    GROUP BY
        DATE(order_time), restaurant_id
)

SELECT
    do.order_date,
    do.restaurant_id,
    do.total_orders
FROM
    daily_orders AS do
ORDER BY
    do.order_date, do.restaurant_id
)

SELECT
    AVG(total_orders) AS average_total_orders,
    AVG(item_quantity) AS average_item_quantity
FROM (
    SELECT
        do.restaurant_id,
        do.total_orders,
        COUNT(mi.menu_item_id) AS item_quantity
    FROM
        MASTER AS do
    JOIN
        hive_metastore.online_food_business.menu_items AS mi
    ON
        do.restaurant_id = mi.restaurant_id
    GROUP BY
        do.restaurant_id, do.total_orders
) AS subquery;

In [110]:
print(final_query_2)

WITH MASTER AS (
    WITH daily_orders AS (
    SELECT
        DATE(order_time) AS order_date,
        restaurant_id,
        COUNT(order_id) AS total_orders
    FROM
        hive_metastore.online_food_business.orders
    GROUP BY
        DATE(order_time), restaurant_id
)

SELECT
    do.order_date,
    do.restaurant_id,
    do.total_orders
FROM
    daily_orders AS do
ORDER BY
    do.order_date, do.restaurant_id
)

SELECT
    AVG(total_orders) AS average_total_orders,
    AVG(item_quantity) AS average_item_quantity
FROM (
    SELECT
        do.restaurant_id,
        do.total_orders,
        COUNT(mi.menu_item_id) AS item_quantity
    FROM
        MASTER AS do
    JOIN
        hive_metastore.online_food_business.menu_items AS mi
    ON
        do.restaurant_id = mi.restaurant_id
    GROUP BY
        do.restaurant_id, do.total_orders
) AS subquery;

## 5. Query Self-Correction Component:

In [111]:
def load_data_from_query(query):
    # Getting the sample details of the selected table
    conn = sql.connect(server_hostname = os.getenv("DATABRICKS_SERVER_HOSTNAME"),
                    http_path       = os.getenv("DATABRICKS_HTTP_PATH"),
                    access_token    = os.getenv("DATABRICKS_ACCESS_TOKEN"))

    # query = query.replace(";","")
    # query = query + f" LIMIT 1000;"
    df = pd.read_sql(sql=query,con=conn)
    return df

In [126]:
def self_correction(query):
    error_msg = ""

    try:
        df = load_data_from_query(query)
        print(df.shape)
        # df.head()
        error_msg += "Successful"
    except Exception as e:
        error_msg += str(e)
    
    if error_msg == "Successful":
        return error_msg
    else:
        # print("There is error")
        # print(error_msg)
        return error_msg

In [127]:
# query = final_query_1
query = "SELECT * FROM hive_metastore.online_food_business.menu"

In [128]:
error_msg = self_correction(query)
error_msg

/var/folders/3g/7x619qt169344pmm32qd8wgc0000gq/T/ipykernel_19961/1382692826.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql=query,con=conn)

'Execution failed on sql: SELECT * FROM hive_metastore.online_food_business.menu\n[TABLE_OR_VIEW_NOT_FOUND] The table or view `hive_metastore`.`online_food_business`.`menu` cannot be found. Verify the spelling and correctness of the schema and catalog.\nIf you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.\nTo tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS. SQLSTATE: 42P01; line 1 pos 14\nunable to rollback'

In [148]:
def correct_sql(question,sql_code,table_schema,error_msg):

    ### Defining the prompt template
    template_string = """ 
    You are a expert data engineer working with a Databricks environment.\
    Your task is to modify the SQL_CODE using Databricks SQL dialect based on the QUESTION, SCHEMA and the ERROR_MESSAGE. \
    If ERROR_MESSAGE is provided, then make sure to correct the SQL query according to that. \

    SCHEMA:
    ## {table_schema} ##

    ERROR_MESSAGE:
    ## {error_msg} ##

    SQL_CODE:
    ##
    {sql_code}

    QUESTION:
    ## {question} ##

    ##


    IMPORTANT: MAKE SURE THE OUTPUT IS JUST THE SQL CODE AND NOTHING ELSE. Ensure the appropriate CATALOG is used in the query and SCHEMA is specified when reading the tables.
    ##

    OUTPUT:
    """
    prompt_template = PromptTemplate.from_template(template_string)

    ### Defining the LLM chain
    llm_chain = LLMChain(
        llm=ChatOpenAI(model="gpt-4o-mini",temperature=0),
        prompt=prompt_template
    )

    response =  llm_chain.invoke({"question":question,"sql_code":sql_code,"table_schema":table_schema,"error_msg":error_msg})
    output = response['text']

    return output

In [151]:
query

'SELECT * FROM hive_metastore.online_food_business.menu'

In [152]:
modified = correct_sql("List the details of the menu item table",query,table_schema,error_msg=error_msg)

In [153]:
print(modified)

```sql
SELECT * FROM hive_metastore.online_food_business.menu_items
```

In [154]:
# Final
error_msg = self_correction(query)

if error_msg == "Successful":
    print("Query is successful")
else:
    modified_query = correct_sql("List the details of the menu item table",query,table_schema,error_msg=error_msg)

/var/folders/3g/7x619qt169344pmm32qd8wgc0000gq/T/ipykernel_19961/1382692826.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql=query,con=conn)

In [ ]:
# Final function to validate and self-correct
def validate_and_correct_sql(query,table_schema):
    error_msg = self_correction(query)

    if error_msg == "Successful":
        # print("Query is successful")
        return "Correct",query
    else:
        modified_query = correct_sql("List the details of the menu item table",query,table_schema,error_msg=error_msg)
        return "Incorrect",modified_query

In [155]:
print(modified_query)

```sql
SELECT * FROM hive_metastore.online_food_business.menu_items
```

## 6. Adding Favourites:

In [156]:
def load_data_from_query(query):
    # Getting the sample details of the selected table
    conn = sql.connect(server_hostname = os.getenv("DATABRICKS_SERVER_HOSTNAME"),
                    http_path       = os.getenv("DATABRICKS_HTTP_PATH"),
                    access_token    = os.getenv("DATABRICKS_ACCESS_TOKEN"))

    # query = query.replace(";","")
    # query = query + f" LIMIT 1000;"
    df = pd.read_sql(sql=query,con=conn)
    return df

In [175]:
def add_to_user_history(user_name,question,query,favourite_ind):
    conn = sql.connect(server_hostname = os.getenv("DATABRICKS_SERVER_HOSTNAME"),
                    http_path       = os.getenv("DATABRICKS_HTTP_PATH"),
                    access_token    = os.getenv("DATABRICKS_ACCESS_TOKEN"))
    
    user_history_table = "hive_metastore.dev_tools.sqlgenpro_user_query_history"

    query = f"INSERT INTO {user_history_table} VALUES ('{user_name}',current_timestamp(),'{question}','{query}',{favourite_ind})"
    # query = f"SELECT * FROM {user_history_table}"
    df = pd.read_sql(sql=query,con=conn)

In [173]:
add_to_user_history("hariharan","List the details of the menu item table",query)

/var/folders/3g/7x619qt169344pmm32qd8wgc0000gq/T/ipykernel_19961/3664673451.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql=query,con=conn)